// Color
$primary-color: #333333;
$text-color: #444444;
$white-color: #ffffff;
$searchBox-color: #e1dfdd;
$greenBold-color: #4AC49A;

// Breakpoint
// 320px — 480px: Mobile devices
// 481px — 768px: iPads, Tablets
// 769px — 1024px: Small screens, laptops
// 1025px — 1200px: Desktops, large screens
$mobile: 480px;
$mobilePlus: 481px;
$tablet: 768px;
$tabletPlus: 769px;
$laptop: 1024px;
$laptopPlus: 1025px;
$desktops: 1200px;
$desktopsPlus: 1201px;

$content-left: 450px;
